<!DOCTYPE html>
<head>Random Repo</head>
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">



    <!--Custom CSS-->
    <!--<link rel="stylesheet" href="template/style.css">-->

    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <script src="template/script.js" defer></script>

    <title>Random Repo Generator!</title>
</head>

<body>
    <h1>Random Repo</h1>
</body> 
    <h1 class="heading">Random Repo Generator</h1>
    <section class="intro">
        <button class="repogen">
            Click Here!
        </button></br>

    </section>

    <section class="user-info">
        <div>
            <form action="">
                <label for="fname">Repo name:</label>
                <input type="text" id="fname" name="fname" readonly><br><br>
                <label for="country">Repo url:</label>
                <input type="text" id="country" name="country" readonly><br><br>
                <label for="fname">Owner Username:</label>
                <input type="text" id="fname" name="fname" readonly><br><br>
                <label for="fname">Owner Link:</label>
                <input type="text" id="fname" name="fname" readonly><br><br>
                <label for="fname">Stars Count:</label>
                <input type="text" id="fname" name="fname" readonly><br><br>
                <label for="fname">Watchers Count:</label>
                <input type="text" id="fname" name="fname" readonly><br><br>
                <label for="fname">Forks Count:</label>
                <input type="text" id="fname" name="fname" readonly><br><br>
                <label for="fname">Languages:</label>
                <input type="text" id="fname" name="fname" readonly><br><br>


            </form>


        </div>
    </section>

    <section class="details">



    </section>
    <!--JS -->
    <script src="template/app.js"></script>

</body>

</html> 