{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">



    <!--Custom CSS-->
    <link rel="stylesheet" href="/repos/static/repos/style.css">

    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">

    <title>Random Repo Generator!</title>
</head>

<body>
    <h1 class="heading">Random Repo Generator</h1>
    <section class="intro">
        <button class="repogen">
            Click Here!
        </button></br>
        {% if error %}
        <p><b>{{ error }}</b></p>
        {% endif %}
    </section>

    {% if repo %}
    <section class="user-info">
        <div>
            <p><b>Repository:</b> <a id="fname" href={{ repo.html_url }}>{{ repo.name }}</a></p>
            <p><b>Owner:</b> <a id="fname" href={{ repo..owner.html_url }}>{{ repo.owner.login }}</a></p>
            <p><b>Description: </b></p>
            <P>{{ repo.description }}</P>
            <p><b>Stars Count:</b> {{ repo.stars }}</p>
            <p><b>Watchers Count:</b> {{ repo.watchers }}</p>
            <p><b>Forks Count:</b> {{ repo.forks }}</p>
            <p><b>Languages:</b></p>
            <ul>
                {% for lang in repo.languages %}
                <li>{{ lang }}</li>
                {% endfor %}
            </ul>

        </div>
    </section>
    {% endif %}

    <section class="details">



    </section>
    <script src="{% static 'repos/script.js' %}"></script>
</body>

</html>