{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">



    <!--Custom CSS-->
    <!--<link rel="stylesheet" href="template/style.css">-->

    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link href="{% static 'repos/style.css' %}" rel="stylesheet">

    <title>Random Repo Generator!</title>
</head>

<body>
    <h1 class="heading">Random Repo Generator</h1>
    <section class="intro">
        <button class="repogen">
            Click Here!
        </button></br>
        {% if error %}
            <p class="error"><b>{{ error }}</b></p>
        {% endif %}
    </section>

    {% if repo %}
        <div class="info">
            <p><b>Repository:</b> <a href={{ repo.html_url }}>{{ repo.name }}</a></p>
            <p><b>Owner:</b> <a href={{ repo.owner.html_url }}>{{ repo.owner.login }}</a></p>
            <p><b>Description: </b></p>
            <p>{{ repo.description }}</p>
            <p><b>Stars Count:</b> {{ repo.stars }}</p>
            <p><b>Watchers Count:</b> {{ repo.watchers }}</p>
            <p><b>Forks Count:</b> {{ repo.forks }}</p>
            <p><b>Languages:</b> {{ repo.languages|join:" , " }}</p>

        </div>
    {% endif %}

    <script src="{% static 'repos/script.js' %}"></script>
</body>

</html> 